@import '../variables/couleurs.scss';

.Entete
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    h1
    {
        margin: 25px;
        padding: 0px;
        font-size: 150px;
        text-align: center;
        color: $couleur__font__primaire;
        border-bottom: 5px solid $couleur__background-color__tertiaire;
    }

    h2
    {
        margin: 10px;
        padding: 10px;
        font-size: 40px;
        color: $couleur__font__secondaire;
    }

    .palette-couleurs
    {
        border: 1px solid black;
        width: 75%;
        height: 10%;
        bottom: 0;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        position: absolute;
        display: none;

        & > div
        {
            width: 100%;
        }

        div:nth-child(1) {background-color: $couleur__background-color__primaire;}
        div:nth-child(2) {background-color: $couleur__background-color__secondaire;}
        div:nth-child(3) {background-color: $couleur__background-color__tertiaire;}
        div:nth-child(4) {background-color: $couleur__background-color__quaternaire;}
        div:nth-child(5) {background-color: $couleur__background-color__quinaire;}
        div:nth-child(5) {background-color: $couleur__background-color__sixte;}
    }
}