.Navigation
{
    display: flex;
    border: 1px solid orange;
    height: 100px;

    .aaa
    {
        border: 1px solid green;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
}