// Famille de la police
$typo__font-family__primaire: 'GlacialIndifferenceRegular', Arial , sans-serif;

// Grandeur de la police
$typo__font-size__titre: clamp(25px, 7.5vw, 100px);
$typo__font-size__sous-titre: clamp(5px, 3.75vw, 35px);