// Famille de la police
$typo__font-family__primaire: 'GlacialIndifferenceRegular', Arial , sans-serif;

// Grandeur de la police
$typo__font-size__titre         : clamp(25px, 12vw, 100px);
$typo__font-size__sous-titre    : clamp(15px, 5vw, 35px);
$typo__font-size__titre-section : clamp(20px, 10vw, 75px);
$typo__font-size__paragraphe    : clamp(10px, 4vw, 30px);

// Grandeur de l'alinéa
$typo__indent__titre      : clamp(0.5rem, 2vw, 1.5rem);
$typo__indent__sous-titre : clamp(0.25rem, 1vw, 1rem);