@import './variables/couleurs.scss';

.Footer
{
    width: 100%;
    height: 30vh;
    background-color: $couleur__background-color__sixte;

    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}