@import './variables/couleurs.scss';
@import './variables/layout.scss';

#Footer
{
    width: 100%;
    background-color: $couleur__background-color__sixte;

    text-align: center;
    color: $couleur__background-color__blanc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $layout-gigaScreen)
    {
        min-height: 20vh;
    }
}