@import '/src/style/variables/couleurs.scss';

*
{
    /* Mise à niveau du CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    /* Barre de défilement custom */
    ::-webkit-scrollbar
    {
        height: 10px;
    }
    
    ::-webkit-scrollbar-thumb
    {
        background-color: $couleur__background-color__secondaire;
        border-radius: 100px;
    }
    
    ::-webkit-scrollbar-track
    {
        background-color: $couleur__background-color__blanc;
        border-radius: 100px;
    }
}